<ActionBar title="{{ 'Sitetitle' | translate }}"></ActionBar>

<Stacklayout>

    <Label text="{{ 'Sitetitle' | translate }}"></Label> <!-- pipe works -->
    <!-- <Label [translate]="'Sitetitle'"></Label> --> <!-- doesn't work -->
    <!-- <Label translate>'Sitetitle'</Label> --> <!-- doesn't work -->


    <button text="en" (tap)="useLanguage('en')"></button>
    <button text="nl" (tap)="useLanguage('nl')"></button>
    <button text="fr" (tap)="useLanguage('fr')"></button>

    <button text="add fr" (tap)="add('fr')"></button>

</Stacklayout>

<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout> -->